<div id="footer-color" class="footer-layout">
  <div class="ui six column container grid ">

    <div class="column">
    </div>
    <div class="column">
      <a href="https://drive.google.com/open?id=0B685C7K0Y-OEZ0p0dVBMMWkyQkE" >
        <img src="assets/cv.svg" alt="resume" class="ui fluid centered  image image-layout"></a>
    </div>
    <div class="column">
      <a href="https://github.com/Seb69" >
        <img src="assets/github.svg" alt="github" class="ui fluid centered image image-layout"></a>
    </div>
    <div class="column ">
      <a href="https://www.linkedin.com/in/sebastien-andre-28769361" >
        <img src="assets/linkedin.svg" alt="Linkedin" class="ui fluid centered  image image-layout"></a>
    </div>
    <div class="column ">
      <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=sebastien.andre.seb@gmail.com" >
        <img src="assets/message.svg" alt="email" class="ui fluid centered image image-layout"></a>
    </div>
  </div>
</div>
<div class="bottom ui one column grid">
  <div class="column middle aligned ">
    Website powered and designed by Sebastien Andre. Find project source <a href="https://github.com/Seb69/andresebastien">here</a>
  </div>
</div>
