<div id="footer-color" style="padding-bottom: 3em;padding-top: 3em">
  <div class="ui three column container grid">
    
      <div class="column">
        <a href="https://github.com/Seb69" style="margin: auto;width: 2em">
          <img src="assets/github.svg" alt="github" class="ui right floated tiny image"></a>
      </div>

      <div class="column ">
        <a href="https://www.linkedin.com/in/sebastien-andre-28769361" class="picture">
          <img src="assets/linkedin.svg" alt="Linkedin" class="ui centered tiny image"></a>
      </div>

      <div class="column ">
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=sebastien.andre.seb@gmail.com" class="picture">
          <img src="assets/message.svg" alt="email" class="ui left floated tiny image"></a>
      </div>

  </div>
</div>
<div class="bottom">Website powered and design be me. Find project source <a href="https://github.com/Seb69/andresebastien">here</a></div>
