<h4 class="ui horizontal divider container divider-layout">
  <!--<img class="ui image medium centered" src="assets/mouse.svg"/>-->
  PROJECTS
</h4>
<div class="ui container container-layout">
  <div class="ui two doubling cards">



    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/spring_cloud.jpg">
        <div class="ui grey top right ribbon label">Personal Project</div>
      </div>
      <div class="content">
        <div class="header">Spring Cloud</div>
        <div class="meta">
          <span class="date">2016</span>
        </div>
        <div class="description">Creation of a starter project for a cloud web app. 
          Externalized configuration, service discoverability, gateway, circuit breaker and tracing.
           Developement and pre-production mode with docker. <br><br>
           The project is available <a href="https://github.com/Seb69/Spring-Cloud-Starter-Service">here</a>.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Spring Boot, Spring Cloud, Docker.
      </div>
    </div>



    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/mobylis.jpg">
        <div class="ui grey top right ribbon label">Work project</div>
      </div>
      <div class="content">
        <div class="header">Static Website: Mobylis</div>
        <div class="meta">
          <span class="date">2016</span>
        </div>
        <div class="description">Creation of a static website for a fourniture seller company.
          Ahead Of Time, Lazy Loading, small payload: home page only 418 K, deploy in a CDN network.
           Optimized image size. Responsive. 
        See website in the following link: <a href="https://mobylis.fr/">https://mobylis.fr/</a>.
           <br><br>
           The project is available <a href="https://github.com/Seb69/MobylisWebSite">here</a>.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Angular 2, Semantic-UI.
      </div>
    </div>


    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/webapp.jpg">
        <div class="ui grey top right ribbon label">Intern Project</div>
      </div>
      <div class="content">
        <div class="header">Web Application</div>
        <div class="meta">
          <span class="date">2016</span>
        </div>
        <div class="description">Developement of a Spring/Angular Web App.
           Developement of a Spring Boot server from scracth implementing the summarization methodology.
           Backend: Spring Boot.
           Frontend: Angular 2.
           Security: Jwt Token, OAuth2 with spring securrity.
           <br><br>
           The main part of the application server is available
           <a href="https://github.com/Seb69/DocumentSummarization">here</a>.
            Frontend
           <a href="https://github.com/Seb69/autosum-frontend">here</a>.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Spring Boot, Spring Security, Angular 2, Webpack, Semantic-UI.
      </div>
    </div>


    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/autosum.jpg">
        <div class="ui grey top right ribbon label">Intern Project</div>
      </div>
      <div class="content">
        <div class="header">Automatic summarization of a set of Documents</div>
        <div class="meta">
          <span class="date">2016</span>
        </div>
        <div class="description">Developement of a new methodology to summarize a set of documents.
           The method is based on Image and Text processing.
           The method tries to evaluate how important is a document compared to others.
           Only the most important document are selected in the summarized document.
           See the method paper <a href="">here</a>.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, BoofCV, OpenImaj.
      </div>
    </div>




    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/roadmap.jpg">
        <div class="ui grey top right ribbon label">School Project</div>
      </div>
      <div class="content">
        <div class="header">Road Map web App</div>
        <div class="meta">
          <span class="date">2016</span>
        </div>
        <div class="description">
          Developement of a web application where users can save a road trip with map details, pictures and comments.
          People can share publicly their road map and get some feedback. <br><br>
          Backend with Spring MVC, available <a href="https://github.com/Seb69/roadmap-backend">here</a>.
          Frontend <a href="https://github.com/Seb69/roadmap-frontend">here</a>.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Spring MVC/Hibernate, Spring Security, MySQL, AngularJS, OpenStreetMap, Leaflet.
      </div>
    </div>


    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/android.jpg">
        <div class="ui grey top right ribbon label">School Project</div>
      </div>
      <div class="content">
        <div class="header">Android App: messaging app</div>
        <div class="meta">
          <span class="date">2015</span>
        </div>
        <div class="description">
          Developement of a web application where users can save a road trip with map details, pictures and comments.
          People can share publicly their road map and get some feedback.<br><br>
          Code source availiable <a href="https://github.com/Seb69/finalApp">here</a>.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Android SDK, Android Studio.
      </div>
    </div>







    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/training.jpg">
        <div class="ui grey top right ribbon label">School Project</div>
      </div>
      <div class="content">
        <div class="header">Google App Engine: Sport Training App</div>
        <div class="meta">
          <span class="date">2015</span>
        </div>
        <div class="description">
          Development of a web application which helps you in your sport training at home by recording your 
          own exercises and follow your performance. 
          Google App Engine project. <br><br>
          Code source available <a href="https://github.com/Seb69/TrainingApp">here</a>.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Google App Engine, UI Boostrap.
      </div>
    </div>

    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/kali-linux.jpg">
        <div class="ui grey top right ribbon label">Personal Project</div>
      </div>
      <div class="content">
        <div class="header">Kali Linux</div>
        <div class="meta">
          <span class="date">2014</span>
        </div>
        <div class="description">
          With a monitor wireless and Kali Linux distibution, doing some network security tests. 
          Commons attach testing: dictionary attack, attack WPA network password, man-in-the middle. 
          Doing basics tests on my own network. 
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Kali Linux, Aircrack-ng, InTrace.
      </div>
    </div>



    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/chess-game.jpg">
        <div class="ui grey top right ribbon label">Personal Project</div>
      </div>
      <div class="content">
        <div class="header">Portofolio Website</div>
        <div class="meta">
          <span class="date">2014 - now</span>
        </div>
        <div class="description">
          Website where I can share my projects along my studies.
          <br><br>
          Code source available <a href="https://github.com/Seb69/chessapp">here</a>.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Design Pattern, Socket communication. 
      </div>
    </div>

    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/chess-game.jpg">
        <div class="ui grey top right ribbon label">School Project</div>
      </div>
      <div class="content">
        <div class="header">Java: Chess Game</div>
        <div class="meta">
          <span class="date">2014</span>
        </div>
        <div class="description">
          Java Development of a chess game with multi player mode. 
          Players can play remotly on different devices. 
          <br><br>
          Code source available <a href="https://github.com/Seb69/chessapp">here</a>.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Design Pattern, Socket communication. 
      </div>
    </div>


    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/parabolic-sar-marche-en-tendance.jpg">
        <div class="ui grey top right ribbon label">Personal Project</div>
      </div>
      <div class="content">
        <div class="header">Expert Advisor: Robot trading</div>
        <div class="meta">
          <span class="date">2012-2013</span>
        </div>
        <div class="description">
          Automatization of a trading strategy based on SAR Parabolic indicator (green and red point). Robot which automaticaly
          manage basic risk strategy by calulating the size of position and auto-set stop order. Backtesting from 2000 year
          to 2012 and optimized SAR Parabolic parameters.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">MQL4 (MetaQuotes Language 4) based on C++. Metatrader
        4. Forex EUR/USD.
      </div>
    </div>
  </div>
</div>
