<h4 class="ui horizontal divider container divider-layout">
  <!--<img class="ui image medium centered" src="assets/mouse.svg"/>-->
  PROJECTS
</h4>
<div class="ui container container-layout">
  <div class="ui two doubling cards">



    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/spring_cloud.jpg">
        <div class="ui grey top right ribbon label">Personal Project</div>
      </div>
      <div class="content">
        <a class="header">Spring Cloud</a>
        <div class="meta">
          <span class="date">2016</span>
        </div>
        <div class="description">Creation of a starter project with cloud architecture. 
          Externalized configuration, service discoverability, gateway, circuit breaker and tracing. 
           The method is based on Image and Text processing.
           Developement and pre-production mode with docker.
           The project is available <a href="https://github.com/Seb69/Spring-Cloud-Starter-Service">here</a>
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Spring Boot, Spring Cloud, Docker. 
      </div>
    </div>

    
    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/webapp.jpg">
        <div class="ui grey top right ribbon label">Intern Project</div>
      </div>
      <div class="content">
        <a class="header">Web Application</a>
        <div class="meta">
          <span class="date">2016</span>
        </div>
        <div class="description">Developement of a Spring/Angular Web App.
           Developement of a Spring Boot server from scracth implementing the summarization methodology.
           Backend: Spring Boot. 
           Frontend: Angular 2.
           Security: Jwt Token, OAuth2 with spring securrity. 
           The main part of the application server is available
           <a href="https://github.com/Seb69/DocumentSummarization">here</a>.
            Frontend 
           <a href="https://github.com/Seb69/autosum-frontend">here</a>.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Spring Boot, Angular 2, Webpack, Semantic-UI.
      </div>
    </div>


    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/autosum.jpg">
        <div class="ui grey top right ribbon label">Intern Project</div>
      </div>
      <div class="content">
        <a class="header">Automatic summarization of a set of Documents</a>
        <div class="meta">
          <span class="date">2016</span>
        </div>
        <div class="description">Developement of a new methodology to summarize a set of documents.
           The method is based on Image and Text processing.
           The method tries to evaluate how important is a document compared to others.
           Only the most important document are selected in the summarized document.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, BoofCV, OpenImaj.
      </div>
    </div>




    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/roadmap.jpg">
        <div class="ui grey top right ribbon label">School Project</div>
      </div>
      <div class="content">
        <a class="header">Road Map web App</a>
        <div class="meta">
          <span class="date">2016</span>
        </div>
        <div class="description">
          Developement of a web application where users can save a road trip with map details, pictures and comments. 
          People can share publicly their road map and get some feedback. 
          Backend with Spring MVC, available <a href="https://github.com/Seb69/roadmap-backend">here</a>.
          Frontend <a href="https://github.com/Seb69/roadmap-frontend">here</a>.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Spring MVC/Hibernate, Spring Security, MySQL, AngularJS, OpenStreetMap, Leaflet. 
      </div>
    </div>





    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/roadmap.jpg">
        <div class="ui grey top right ribbon label">School Project</div>
      </div>
      <div class="content">
        <a class="header">Android App: messaging app</a>
        <div class="meta">
          <span class="date">2015</span>
        </div>
        <div class="description">
          Android App to send and receive message. 
          Multiple  
          Find code <a href="https://github.com/Seb69/finalApp">here</a>. 
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Spring MVC/Hibernate, Spring Security, MySQL, AngularJS, OpenStreetMap, Leaflet. 
      </div>
    </div>




    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/roadmap.jpg">
        <div class="ui grey top right ribbon label">School Project</div>
      </div>
      <div class="content">
        <a class="header">Android App: messaging app</a>
        <div class="meta">
          <span class="date">2015</span>
        </div>
        <div class="description">
          Developement of a web application where users can save a road trip with map details, pictures and comments. 
          People can share publicly their road map and get some feedback. 
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">Java, Spring MVC/Hibernate, Spring Security, MySQL, AngularJS, OpenStreetMap, Leaflet. 
      </div>
    </div>


    <div class="ui card card-layout">
      <div class="image">
        <img src="/assets/projects/parabolic-sar-marche-en-tendance.jpg">
        <div class="ui grey top right ribbon label">Personal Project</div>
      </div>
      <div class="content">
        <a class="header">Expert Advisor: Robot trading</a>
        <div class="meta">
          <span class="date">2012-2013</span>
        </div>
        <div class="description">Automatization of a trading strategy based on SAR Parabolic indicator (green and red point). Robot which automaticaly
          manage basic risk strategy by calulating the size of position and auto-set stop order. Backtesting from 2000 year
          to 2012 and optimized SAR Parabolic parameters.
        </div>
      </div>
      <div class="extra content" style="color: black">
        <img class="ui image techno-image" src="assets/settings.svg">MQL4 (MetaQuotes Language 4) based on C++. Metatrader
        4. Forex EUR/USD.
      </div>
    </div>
  </div>
</div>
