<h4 class="ui horizontal divider container">
  <!--<img class="ui image medium centered" src="assets/mouse.svg"/>-->
  BOOKS
</h4>
<div class="ui container">
  <div class="divider-layout">
    Here some very heplful books I recommend:
  </div>
  <div class="ui container">
    <div class="ui list list-layout">
      <div class="item item-layout">
        <img class="ui image book" src="assets/agenda.svg">
        <div class="content">
          <div class="header">Clean Code: A Handbook of Agile Software Craftsmanship</div>
          <div class="description">Robert C. Martin, </div>
          <div class="description">Prentice Hall</div>
        </div>
      </div>
      <div class="item item-layout">
        <img class="ui image book" src="assets/agenda.svg">
        <div class="content">
          <div class="header">Spring Microservices: Build scalable microservices with Spring, Docker and Mesos.</div>
          <div class="description">Rajesh RV</div>
          <div class="description">Packt Publishing</div>
        </div>
      </div>

      <div class="item item-layout">
        <img class="ui image book" src="assets/agenda.svg">
        <div class="content">
          <div class="header">Java 8 in Action. Lambdas, Streams, and Functional-Style Programming.</div>
          <div class="description">Raoul-Gabriel Urma, Mario Fusco, Alan Mycroft</div>
          <div class="description">Manning</div>
        </div>
      </div>

      <div class="item item-layout">
        <img class="ui image book" src="assets/agenda.svg">
        <div class="content">
          <div class="header">ProGit. Everything you need to know about git.</div>
          <div class="description">Scott Chacon, Ben Straub</div>
          <div class="description">Apress</div>
        </div>
      </div>

    </div>
  </div>
</div>
