<div class="ui stackable one column grid" id="one-side-shadow">

  <div class="column middle aligned">
    <div class="ui large image" style="background-image: url('/assets/mainimage.svg');background-repeat: no-repeat">
      <img class="ui medium circular image centered" src="/assets/AVATAR.jpg" id="image-position">
      <p class="ui centered break-word font-size" id="avatar-description">
        Sebastien ANDRE, a graduate student with experience in research,
        cloud computing, web and software development.</p>
    </div>
  </div>
</div>

