/* You can add global styles to this file, and also import other style files */



@mixin font-family() {
  font-family: San Francisco;
}

.center{
  text-align: center;
}

.break-word{
  word-wrap: break-word;
}

.background {
  background-image: url("assets/Artboard 1.svg");
  
}


.font-style{
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
}
